<h1>Editing Activity:<br>
<%= @member_activity.activity.name %></h1>
<%= render "form", member_activity: @member_activity, hide_activity_edit: true%>

<br>

<div>
  <%= link_to "Show this member activity", @member_activity %> |
  <%= link_to "Back to member activities", member_activities_path %>
</div>
