<h1>New member activity</h1>

<%= render "form", member_activity: @member_activity, hide_extra_fields: true %>

<br>

<div>
  <%= link_to "Back to member activities", member_activities_path %>
</div>
