<div id="<%= dom_id platoon %>">
  <p>
    <strong>Name:</strong>
    <%= platoon.name %>
  </p>

  <p>
    <strong>Leader:</strong>
  <% user = User.find_by(id: platoon.leader_id) %>
  <% if user %>
    <%= user.first_name + " " + user.last_name %>
  <% end %>
    
  </p>

</div>
