<main class="container">
    <section class="hero-section text-center">
        <h1 style="font-size: 2.5em; color: #800000;">Welcome to C-Company</h1>
        <p style="font-size: 1.2em;">Live by Honor and for Glory<br>
        Defend the Honor of your fellow Crusaders<br>
        Never back down from and honest Challenge</p>
    </section>

    <section class="content-section" style="margin-top: 50px;">
        <h3 style="font-size: 1.8em; color: #800000;">Our Mission</h3>
        <p style="font-size: 1.2em;">Our mission is to develop leaders from all walks of life by deliberately challenging all cadets with intense military training events designed to push them past their limits and forcing them to work as a team.</p>
        
        <p style="font-size: 1.2em;">C-Company is defined by a unique level of unity and camaraderie shared by all Crusaders. We drive towards perfection in everything we do, regardless of adversity, and those shared struggles forge our bonds of teamwork. United We Fight!</p>
    </section>
</main>

<footer class="bg-light text-center text-lg-start mt-5" style="padding: 20px;">
  <div class="text-center" style="background-color: rgba(0, 0, 0, 0.2); color: white; font-size: 1.2em;">
    © 2024 C-Company Corps of Cadets
  </div>
</footer>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
