<h1>HELP</h1>
<h2>Activiy management</h2>
<p>When creating activities, make sure that you have defined an activity type for that activity. Both the path to activities and activity types can be found in the nav bar if you are an admin or platoon leader. 

<h2>User management</h2>
<p>Administrators can manage all users of the application. By navigating the Users page from the navbar, you will be able to create, update, read, or delete users. This includes being able to promote or demote other members, or assigning platoons to other users.