<h1>Help</h1>
<h2>Activities</h2>
<p>Please see the activitiy management documentation here: <a href="https://docs.google.com/document/d/1hms74t1ilT_iGUzYVS7oQNtMOXMbP-cyjL632WLzyKM/edit?usp=sharing" target="_blank">Link</a></p>
<h2>Activity Types</h2>
<p>Please see the activity types documentation here: <a href="https://docs.google.com/document/d/1dmj66_j2EdLyxP2Qz-CQxWDOADgUtnc9Y7JNja7aaMs/edit?usp=sharing" target="_blank">Link</a></p>
<h2>Analytics</h2>
<p>Please see the analytics documentation here: <a href="https://docs.google.com/document/d/1SB-gryOXu7dBBxsLdZy04DnoH-D08-hSktdmoKxeRsY/edit?usp=sharing" target="_blank">Link</a></p>
<h2>My Activities</h2>
<p>Please see the my activities documentation here: <a href="https://docs.google.com/document/d/1wG2atfVVLhdDLNshdXW1SduPP03aIahGlN4DAg0uKfk/edit?usp=sharing" target="_blank">Link</a></p>
<h2>Platoons</h2>
<p>Please see the platoons documentation here: <a href="https://docs.google.com/document/d/14eYxaPPAKr4ROkV7IsNe0aFcUHUD26awXVOwKA8igt4/edit?usp=sharing" target="_blank">Link</a></p>
<h2>User Management</h2>
<p>Please see the user management documentation here: <a href="https://docs.google.com/document/d/14aNl8gUBcXaI1u9gKk4UsNO9doLc-iEiuS5F-iYTvMw/edit?usp=sharing" target="_blank">Link</a></p>