<h1>Editing activity type</h1>

<%= render "form", activity_type: @activity_type %>

<br>

<div>
  <%= link_to "Show this activity type", @activity_type %> |
  <%= link_to "Back to activity types", activity_types_path %>
</div>
