.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  width: 40vw;
}

.card-body {
  font-size: 14px;
}

.card-body p {
  margin-bottom: 10px;
}

.card-body ul {
  list-style-type: none;
  padding: 0;
}

.card-body ul li {
  margin-bottom: 5px;
}

.card-body a {
  color: #800000;
  text-decoration: none;
}

.card-body a:hover {
  text-decoration: underline;
}