<div id="<%= dom_id activity %>">
  <p>
    <strong>Name:</strong>
    <%= activity.name %>
  </p>

  <p>
    <strong>Activity type:</strong>
    <% activity_type = ActivityType.find(activity.activity_type_id) %>
    <%= activity_type.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= activity.description %>
  </p>

</div>
