<h1>BYE</h1>

<h1>Platoon Assignment for </h1>

<%= form_with(model: @activity, url: assign_platoon_path(@activity), method: :post) do |form| %>
    <!-- Form inputs and elements go here -->

  <div id="platoon_dropdown" style="display: block;">
    <%= form.label :platoon_id, 'Select Platoon:', style: "display: block" %>
    <%= form.select :platoon_id, options_for_select(Platoon.all.map { |platoon| [platoon.name, platoon.id] }), prompt: 'Select a Platoon' %>
  </div>


    <%= form.submit "Assign Platoon" %>
  <% end %>